.price {
    @include screen-width;
    background: #FAF9F9;
    padding: 0 0 140px;

    @media(max-width: 650px) {
        padding: 0 20px 100px;
    }
}

.price-title {
    font-family: 'Benzin';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    color: #272726;
    margin-bottom: 34px;
    @media (max-width: 500px) {
        font-size: 20px;
        line-height: 25px;
        max-width: 250px;
        margin-bottom: 20px;
    }
}

.text-price-text {
    font-family: 'Idealist';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    color: #8C8C8C;
    margin-bottom: 80px;
    @media (max-width: 500px){
        font-size: 12px;
        line-height: 18px;
        max-width: 320px;
    }
}